.content1{
  position: absolute;
  top: 10%;
  left: 30%;
  width: 70%;
  font-size: 3vw;
  color: black;
  font-weight: bold;
}

.content2{
  position: absolute;
  top: 22%;
  left: 30%;
  font-size: 2vw;
  color: black;
  font-weight: bold;
}
/* -----------------------------------*/
.btn1 {
  position: absolute;
  right: 5%;
  top: 10%;
  width: 15%;
  font-size: 2vw;
  font-weight: bold;
  background-color: red;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.btn1:hover {
  background-color: indianred;
}

.btn2 {
  position: absolute;
  right: 5%;
  top: 20%;
  width: 15%;
  font-size: 2vw;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.btn2:hover {
  background-color: grey;
}

/*--------------------------------------*/

.image_container{
  position: absolute; /* Ensure the container is positioned */
  width: 100%; /* Set the width of the container */
  height: 100%;
  top: 0;
  left: 0;
}

.image1{
  position: absolute; /* Position the image relative to its container */
  top: 10%; /* Set the top position of the image */
  left: 5%; /* Set the left position of the image */
  width: 20%;
}

/*---------------------------------------*/
.scroll_container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Adjust as needed */
  margin: 0 auto;
  overflow-x: auto; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Add vendor prefix for WebKit browsers */
}

.button-wrapper {
  display: flex;
  flex-wrap: nowrap; /* Prevent button wrapping */
}

.general_btn {
  flex: 0 0 auto; /* Don't allow buttons to grow or shrink */
  width: 250px; /* Set width of each button */
  margin-right: 2.5%; /* Adjust spacing between buttons */
  background-color: whitesmoke;
  border: 3px solid grey;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.general_btn .description{
  width: 100%;
  font-size: 12px;
  margin-top: 2px;
  display: block;
  border: none;
}

.general_btn:hover {
  background-color: #DDDDDD;
}

/* Style for the image */
.general_btn img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 0;
}

/* Style for the text */
.general_btn span {
  display: block;
  border: 5px solid white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  font-weight: bold;
  text-align: center;
}

.general_btn:last-child {
  margin-right: 0; /* Remove margin from last button */
}

/*----------------------*/
@media screen and (max-width: 600px) {
  .image {
    width: 120px;
  }
}

@media screen and (max-width: 800px) {
  .content1{
    left: 250px;
  }
  .content2{
    left: 250px;
  }
}

@media screen and (max-width: 900px) {
  .image {
    width: 180px;
  }
}