<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="v42_21">
    <div class="v2027_63"></div>
    <div class="v2027_64"></div>
    <div class="v2027_72"></div>
    <span class="v2027_73">Read Now</span>
    <div class="v2027_76"></div>
    <span class="v2027_77">Save As</span>
    <span class="v2027_74">2024 JanFeb</span>
    <span class="v2027_75">January 2, 2024</span>
    <div class="v4005_15"></div>
    <span class="v2026_29">Love is th meaning of life. Life is the meaning of love. Love is all you need. All you need is love. </span>
    <div class="v4015_84"></div>
</div>
</body>
</html>