{% extends "nav_bar.html" %}
{% block title %}{{title}}{% endblock %}
{% block header %}
    <link href="../../static/content/click_magazine.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div>
  <p class="content1"> 2024 JanFeb </p>
  <p class="content2"> January 2, 2024 </p>

  <button class = "btn1">Read Now</button>
  <button class = "btn2">Save As</button>

  <div class="image_container">
    <img class="image1" src="../../static/images/0d968f34ae1f976de2d0e89708650fcd.jpg" alt="Example Image">
  </div>

  <div class="scroll_container">
    <div class="button-wrapper">
      <button class="general_btn">
        <img src="../../static/images/example1.jpg" alt="Image">
        <span class="description">January 1, 2024</span>
      </button>
      <button class="general_btn">
        <img src="../../static/images/example1.jpg" alt="Image">
        <span class="description">February 1, 2024</span>
      </button>
      <button class="general_btn">
        <img src="../../static/images/example1.jpg" alt="Image">
        <span class="description">March 1, 2024</span>
      </button>
      <button class="general_btn">
        <img src="../../static/images/example1.jpg" alt="Image">
        <span class="description">April 1, 2024</span>
      </button>
      <button class="general_btn">
        <img src="../../static/images/example1.jpg" alt="Image">
        <span class="description">May 1, 2024</span>
      </button>
      <button class="general_btn">
        <img src="../../static/images/example1.jpg" alt="Image">
        <span class="description">June 1, 2024</span>
      </button>
      <button class="general_btn">
        <img src="../../static/images/example1.jpg" alt="Image">
        <span class="description">July 1, 2024</span>
      </button>
      <button class="general_btn">
        <img src="../../static/images/example1.jpg" alt="Image">
        <span class="description">August 1, 2024</span>
      </button>
    </div>
  </div>
</div>

{% endblock %}
