{% load custom_filters forum_concat forum_sub forum_filter filter_votetype %}
<div class="post-box" data-href="/forum/{{ post.community }}/{{ post.id }}">
    <div class="post-header">
        <h2 class="post-title"><a style="text-decoration: none; color: black" href="/forum/{{ post.community }}/{{ post.id }}">{{ post.title }}</a></h2>
        <p class="post-meta">Posted by <a href="/{{ post.user }}/profile/">{{ post.user }}</a> • <b><a style="color: black" href="/forum/{{ post.community }}">{{ post.community }}</a></b> • {{ post.upload_date|time_since }} </p>
    </div>
    <div class="post-content">
        <p>{{ post.text}}</p>
    </div>
    <div class="post-footer">
        <div id="post_{{ post.id }}_votes" class="vote-container" {% if user.is_authenticated %} style="background-color: {% if not post.votes|filter:user %}#e9edef{% elif post.votes|votetype:user %}green{% else %}red{% endif %}{% endif %}">
            <button class="vote-button upvote" onclick="{% if user.is_authenticated %}vote_{{ post.id }}_Post({{ post.id }}, 1){% else %}location.href='/login/'{% endif %}">
                <i class='bx bx-upvote'></i>
            </button>
            <div class="vote-count" id="post_{{ post.id }}_count">{{ post.upvotes|subtract:post.downvotes}}</div>
            <button class="vote-button downvote" onclick="{% if user.is_authenticated %}vote_{{ post.id }}_Post({{ post.id }}, 0){% else %}location.href='/login'{% endif %}">
                <i class='bx bx-downvote'></i>
            </button>
        </div>
        {% if request.path != "/forum/"|concat:post.community|concat:"/"|concat:post.id %}
            <button class="reply-button" onclick="document.location.href='/forum/{{ post.community }}/{{ post.id }}'"><i class='bx bx-message'></i> <span id="reply-count">{{ post.comments.count }}</span></button>
        {% else %}
            {% if request.user.is_authenticated %}
            <button class="reply-button" onclick="toggleComment()"><i class='bx bx-message'></i> <span id="reply-count">{{ post.comments.count }}</span></button>
            {% else %}
            <button class="reply-button" onclick="location.href='/login/'"><i class='bx bx-message'></i> <span id="reply-count">{{ post.comments.count }}</span></button>
            {% endif %}
        {% endif %}
            </div>
    <form method="post">
        {% csrf_token %}
        <div class="new_comment-section" id="comment-section">
            <input type="hidden" name="form_type" value="commentForm">
            <input type="hidden" name="post" value="{{ post.id }}">
            <input type="hidden" name="user" value="{{ user.id }}">
            <textarea placeholder="Write a comment..." name="message"></textarea>
            <button class="submit-comment" type="submit">Comment</button>
        </div>
    </form>
    {% if request.path == "/forum/"|concat:post.community|concat:"/"|concat:post.id %}
    <div class="comment-section">
        {% for comment in post.comments.filter %}
            {% if comment.parent_id == NULL %}
                <div class="comment">
                    <div class="comment-header"><a style="text-decoration: none; color: black" href="/{{ comment.user }}/profile/"><b>{{ comment.user }}</b></a> • {{ comment.created_at|time_since }}</div>
                    <div class="comment-content">{{ comment.message }}</div>
                    <div class="comment-footer">
                        <div id="comment_{{ comment.id }}_votes" class="vote-container" {% if user.is_authenticated %} style="background-color: {% if not comment.votes|filter:user %}#e9edef{% elif comment.votes|votetype:user %}green{% else %}red{% endif %}{% endif %}">
                            <button class="vote-button upvote" onclick="{% if user.is_authenticated %}vote_{{ comment.id }}_Comment({{ comment.id }}, 1){% else %}location.href='/login/'{% endif %}">
                                <i class='bx bx-upvote'></i>
                            </button>
                            <div class="vote-count" id="comment_{{ comment.id }}_count">{{ comment.upvotes|subtract:comment.downvotes}}</div>
                            <button class="vote-button downvote" onclick="{% if user.is_authenticated %}vote_{{ comment.id }}_Comment({{ comment.id }}, 0){% else %}location.href='/login'{% endif %}">
                                <i class='bx bx-downvote'></i>
                            </button>
                        </div>
                        {% if request.user.is_authenticated %}
                        {% if request.path != "/forum/"|concat:post.community|concat:"/"|concat:post.id %}
                            <button class="reply-button" onclick="document.location.href='/forum/{{ post.community }}/{{ post.id }}'"><i class='bx bx-message'></i> <span id="reply-count">Reply</span></button>
                        {% else %}
                            <button class="reply-button" onclick="toggleReplySection(this)"><i class='bx bx-message'></i> <span id="reply-count">Reply</span></button>
                        {% endif %}
                        {% else %}
                            <button class="reply-button" onclick="location.href='/login/'"><i class='bx bx-message'></i> <span id="reply-count">Reply</span></button>
                        {% endif %}

                    </div>
                    <!-- Nested reply section -->
                    <div class="reply-section">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="replyForm">
                            <input type="hidden" name="post" value="{{ post.id }}">
                            <input type="hidden" name="user" value="{{ user.id }}">
                            <input type="hidden" name="parent" value="{{ comment.id }}">
                            <textarea placeholder="Write a comment..." name="message"></textarea>
                            <button class="submit-reply" type="submit">Comment</button>
                        </form>
                    </div>
                    <div class="reply-section">
                        <textarea placeholder="Write a reply..."></textarea>
                        <button class="submit-reply">Comment</button>
                    </div>
                    {% if comment.replies.all %}
                    {% include 'forum_nested_reply.html' with comments=comment.replies.all %}
                    {% endif %}
                </div>
                <script type="text/javascript">
                    function vote_{{ comment.id }}_Comment(comment_id, vote_type){
                        var data = {
                                "csrfmiddlewaretoken": '{{ csrf_token }}',
                                "comment": comment_id,
                                "user": '{{ request.user.id }}',
                        };
                        if (vote_type){
                            data["vote_type"] = vote_type;
                        }
                        $.ajax({
                            url: "/forum/vote/comment/" + comment_id + "/" + vote_type + "/",
                            method: "post",
                            data: data,
                            success: function(response){
                                $('#comment_{{ comment.id }}_count').text(response.upvotes - response.downvotes);
                                if (vote_type){
                                    if (response.changed){
                                        $('#comment_{{ comment.id }}_votes').css(
                                            "background-color", "green"
                                        );
                                    } else {
                                        $('#comment_{{ comment.id }}_votes').css(
                                            "background-color", "#e9edef"
                                        );
                                    }
                                }
                                else {
                                    if (response.changed){
                                        $('#comment_{{ comment.id }}_votes').css(
                                            "background-color", "red"
                                        );
                                    } else {
                                        $('#comment_{{ comment.id }}_votes').css(
                                            "background-color", "#e9edef"
                                        );
                                    }
                                }
                            },
                            error: function(data){
                                alert(data);
                            }
                        })
                    }
                </script>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>

{% block script %}
    <script type="text/javascript">
        function toggleComment() {
            var commentSection = document.getElementById("comment-section");
            if (commentSection.classList.contains("expanded")) {
                commentSection.classList.remove("expanded");
            } else {
                commentSection.classList.add("expanded");
            }
        }
        function toggleReplySection(button) {
            var replySection = button.parentNode.nextElementSibling;
            if (replySection.classList.contains("expanded")) {
                replySection.classList.remove("expanded");
            } else {
                replySection.classList.add("expanded");
            }
        }
        function vote_{{ post.id }}_Post(post_id, vote_type){
            var data = {
                    "csrfmiddlewaretoken": '{{ csrf_token }}',
                    "post": post_id,
                    "user": '{{ request.user.id }}',
            };
            if (vote_type){
                data["vote_type"] = vote_type;
            }
            $.ajax({
                url: "/forum/vote/post/" + post_id + "/" + vote_type + "/",
                method: "post",
                data: data,
                success: function(response){
                    $('#post_{{ post.id }}_count').text(response.upvotes - response.downvotes);
                    if (vote_type){
                        if (response.changed){
                            $('#post_{{ post.id }}_votes').css(
                                "background-color", "green"
                            );
                        } else {
                            $('#post_{{ post.id }}_votes').css(
                                "background-color", "#e9edef"
                            );
                        }
                    }
                    else {
                        if (response.changed){
                            $('#post_{{ post.id }}_votes').css(
                                "background-color", "red"
                            );
                        } else {
                            $('#post_{{ post.id }}_votes').css(
                                "background-color", "#e9edef"
                            );
                        }
                    }
                },
                error: function(data){
                    alert(data);
                }
            })
        }

    </script>
{% endblock %}
