{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}
    <link href="../static/content/home.css" rel="stylesheet"/>

{% endblock %}
{% block content %}
<div class="main">
    <div class="container1">
        <div class="banner">
            <a href="#"><img src="../static/images/home_banner.jpg" alt="Banner Image"></a>
        </div>
        <div class="row card-body">
            <div class="col-6 text-center">
                <!-- Modal for adding data -->
                <button class="btn btn-light btn-lg" data-bs-toggle="modal" data-bs-target="#addMagazineForm"><b>Add Magazine</b></button>
                <div class="modal fade" id="addMagazineForm"
                     tabindex="-1" aria-hidden="true"
                     aria-labelledby="dataFormLabel">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="dataFormLabel">Add Magazine</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" id="addMagazine" class="form-horizontal" name="dataForm" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="form_type" value="addMagazine" />
                                    <div class="form-group text-start">
                                        <label for="title">Title</label>
                                        <input type="text" id="title" class="form-control" name="title" placeholder="Enter Magazine Title" />
                                    </div>
                                    <div class="form-group text-start">
                                        <label for="genre">Genre</label>
                                        <select class="form-select" name="genre" id="genre">
                                            <option value="horror">Horror</option>
                                            <option value="comedy">Comedy</option>
                                        </select>
                                    </div>
                                    <div class="form-group text-start">
                                        <label for="document">Select Magazine Document </label>
                                        <input class="form-control" id="document"
                                               name="document" type="file"/>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn-secondary btn" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit" form="addMagazine">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 text-center">
                <!-- Modal for removing data -->
                <button class="btn btn-light btn-lg" data-bs-toggle="modal" data-bs-target="#removeMagazineForm"><b>Remove Magazine</b></button>
                <div class="modal fade" id="removeMagazineForm"
                     tabindex="-1" aria-hidden="true"
                     aria-labelledby="removedataFormLabel">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="removedataFormLabel">Rremove Magazine</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" id="removeMagazine" class="form-horizontal" name="dataForm" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="form_type" value="removeMagazine" />
                                    <div class="form-group text-start">
                                        <label for="remove_title">Title</label>
                                        <input type="text" id="remove_title" class="form-control" name="title" placeholder="Enter Magazine Title" />
                                    </div>
                                    <div class="form-group text-start">
                                        <label for="genre">Genre</label>
                                        <select class="form-select" name="genre" id="genre">
                                            <option value="horror">Horror</option>
                                            <option value="comedy">Comedy</option>
                                        </select>
                                    </div>
                                    <div class="form-group text-start">
                                        <label for="publisher">Publisher</label>
                                        <input type="text" id="publisher" class="form-control" name="publisher" placeholder="Enter Magazine Publisher" />
                                    </div>
                                    <div class="form-group text-start">
                                        <label for="document">Select Magazine Document </label>
                                        <input class="form-control" id="document"
                                               name="document" type="file"/>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn-secondary btn" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit" form="addData">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class = "heading">
            <h2>Recent Issues</h2>
        </div>
        <div class = "issues">
            {% for issue in recent_issues %}
                <div class = "issue">
                <a href="{% url 'magazine' issue.id %}"><img src="../static/images/home_v105_3.png" alt="Magazine Issue"></a>
                <h3>{{ issue.title }}</h3>
                <p>{{ issue.upload_time.date }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class = "container2">
        <div class = "heading">
            <h2>YOU SHOULD KNOW</h2>
        </div>
        <div class = "articles">
            <div class = "article">
                <a href="#"><img src="../static/images/home_awards.webp"></a>
                <div class = "content">
                    <h3>Activism</h3>
                    <h4>Jane Fonda Champions Climate Action for Every Generation</h4>
                    <p>Stephanie Zachrek</p>
                </div>
            </div>
            <div class = "article">
                <a href="#"><img src="../static/images/home_awards.webp"></a>
                <div class = "content">
                    <h3>Activism</h3>
                    <h4>Jane Fonda Champions Climate Action for Every Generation</h4>
                    <p>Stephanie Zachrek</p>
                </div>
            </div>
            <div class = "article">
                <a href="#"><img src="../static/images/home_awards.webp"></a>
                <div class = "content">
                    <h3>Activism</h3>
                    <h4>Jane Fonda Champions Climate Action for Every Generation</h4>
                    <p>Stephanie Zachrek</p>
                </div>
            </div>
            <div class = "article">
                <a href="#"><img src="../static/images/home_awards.webp"></a>
                <div class = "content">
                    <h3>Activism</h3>
                    <h4>Jane Fonda Champions Climate Action for Every Generation</h4>
                    <p>Stephanie Zachrek</p>
                </div>
            </div>
            <div class = "article">
                <a href="#"><img src="../static/images/home_awards.webp"></a>
                <div class = "content">
                    <h3>Activism</h3>
                    <h4>Jane Fonda Champions Climate Action for Every Generation</h4>
                    <p>Stephanie Zachrek</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}