<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/content/layout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e3f866b32d.js" crossorigin="anonymous"></script>
  {% block header %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="dropdown mr-auto">
            <button class="bg-secondary border-0 btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-list"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Features</a>
                <a class="dropdown-item" href="#">About us</a>
            </div>
        </div>
        <a class="navbar-brand mx-auto" href="/"><h3 class="text-danger">SHSID|Times</h3></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-2">
                <a class="nav-link active text-danger" href="/user/login/"><h6>SIGN IN</h6></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-white bg-danger" href="/user/signup"><h6>SIGN UP</h6></a>
            </li>
        </ul>
    </div>
</nav>
{% block content %}{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}

<div class = "footerContainer">
        <div class="name">
            <h1>SHSID|Times</h1>
        </div>
        <div class="links">
            <ul>
                <li>
                    <a href = "#"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href = "#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href = "#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href = "#"><i class="fab fa-youtube"></i></a>
                </li>
            </ul>
        </div>

</div>
</body>
</html>