{% extends "home_layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block header %}
    <link href="{% static 'content/user_lib.css' %}" rel="stylesheet" />
{% endblock %}
{% block content2 %}
    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
              {% for magazine in magazines %}
                  <a class="col-md-4 text-decoration-none text-dark" href="{% url 'magazine' magazine.id %}">
                      <div class="card mb-4 box-shadow">
                        <img class="card-img-top" style="width: 100%; display: block;" src="/media/{{ magazine.cover }}" data-holder-rendered="true">
                        <div class="card-body">
                          <p class="card-text text-center">{{ magazine.title}}</p>
                            <p class="card-text text-center">{{ magazine.upload_date.date}}</p>
                        </div>
                      </div>
                    </a>
              {% endfor %}
          </div>
        </div>
      </div>
{% endblock %}
