{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block header %}
    <link rel="stylesheet" href="../static/content/login.css" />
{% endblock %}
{% block content %}
    <div class="bigcontainer">
        <div class="login-container">
            <h2>Sign in to your Times account</h2>
            <form>
                <label for="usrname">USERNAME/EMAIL</label>
                <input id="usrname" class="form-control" placeholder="email">
                <label for="pwd">PASSWORD</label>
                <input id="pwd" type="password" class="form-control" placeholder="password">
                <a href="#" class="text-white">Forgot Password</a>
                <button type="submit" class="btn btn-dark btn-block my-2">Sign in</button>
            </form>
            <p>or</p>
            <button class="btn bg-primary text-white btn-block my-3"><strong>Continue with Facebook</strong></button>
            <button class="btn btn-light text-secondary btn-block my-3"><strong>Continue with Google</strong></button>
            <button class="btn btn-dark text-white btn-block my-3"><strong>Continue with Apple</strong></button>
        </div>
    </div>
{% endblock %}