{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block header %}
    <link rel="stylesheet" href="../static/content/login.css" />
{% endblock %}
{% block content %}
    <div class="bigcontainer">
        <div class="login-container">
            <h2>Sign in to your Times account</h2>
            <form action="" method="post">
                {% csrf_token %}
                <label for="username">USERNAME/EMAIL</label>
                <input name="username" id="username" class="form-control" placeholder="email">
                <div class="form-group">
                    {% if form.errors.username|length > 0 %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.errors.username.0 }}
                        </div>
                    {% endif %}
                </div>
                <label for="password">PASSWORD</label>
                <input name="password" id="password" type="password" class="form-control"
                       placeholder="password">
                <div class="form-group">
                    {% if form.errors.password|length > 0 %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.errors.password.0 }}
                        </div>
                    {% endif %}
                </div>
                <a href="#" class="text-white">Forgot Password</a>
                <button type="submit" class="btn btn-dark btn-block my-2">Sign in</button>
            </form>
            <p>or</p>
            <button class="btn bg-primary text-white btn-block my-3"><strong>Continue with Facebook</strong></button>
            <button class="btn btn-light text-secondary btn-block my-3"><strong>Continue with Google</strong></button>
            <button class="btn btn-dark text-white btn-block my-3"><strong>Continue with Apple</strong></button>
        </div>
    </div>
{% endblock %}