{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    <div class="m-5">
        <div class="row">
            <div class="col-3">
                <img src="../static/images/home_v105_3.png" alt="Example Image" class="img-fluid">
            </div>
            <div class="col-6">
                <h2>{{ magazine.title }}</h2>
                <h5>{{ magazine.upload_time.date }}</h5>
                <p class="my-5"><strong>Love is the meaning of life....</strong></p>
            </div>
            <div class="col-2">
                <div class="btn-group-vertical">
                    <a class="btn btn-danger my-2" href="/media/{{ magazine.document }}">Read Now</a>
                    <a class="btn btn-dark my-2" download="" href="/media/{{ magazine.document }}">Save As</a>
                    <a type="button" class="btn btn-info my-2" href="{{ request.META.HTTP_REFERER }}">Back</a>
                </div>
            </div>
        </div>
        <div class="row">
            {% for issue in recent_issues %}
                <a class="col text-center text-info row py-3" href="{% url 'magazine' issue.id %}">
                    <img src="../static/images/home_v101_8.png" alt="Image" class="col-12">
                    <span class="col-12">{{ issue.upload_time.date }}</span>
                    <span class="col-12">{{ issue.title }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
