{% extends "home_layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block header %}
    <link href="../../static/content/user_lib.css" rel="stylesheet" />
{% endblock %}
{% block content2 %}
<div>
      <div class="button-container" id="buttonContainer">
      </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        const numberOfButtons = 8;
        // container for description for each button
        const description = [];
        for (let i=1;i <= numberOfButtons;i++)
          description.push("This is magazine" + i);

        // Container for buttons
        const buttonContainer = document.getElementById('buttonContainer');

        // Generate buttons
        for (let i= 1; i <= numberOfButtons; i++) {
          const button = document.createElement('button');
          button.className = 'general_btn';
          button.innerHTML = `<img src="../../static/images/example1.jpg" alt="Image"> <span class="description">${description[i-1]}</span>`;
          buttonContainer.appendChild(button);
        }
    </script>
{% endblock %}
