{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block header %}
    <link href="{% static 'content/magazine_click.css' %}" rel="stylesheet" />
    <style>
        .horizontal-scrollable > .row {
            overflow-x: auto;
            white-space: nowrap;
            flex-wrap: nowrap;
        }

        .horizontal-scrollable > .row > .col-xs-4 {
            display: inline-block;
            float: none;
        }
        /* Decorations */

        .col-xs-4 {
            color: white;
            font-size: 24px;
            padding-bottom: 20px;
            padding-top: 18px;
        }
        .images {
            width: 300px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="m-5">
        <div class="row">
            <div class="col-3">
                <img style="width: 100%" src="{% static 'images/example1.jpg' %}" alt="Example Image">
            </div>
            <div class="col-6">
                <h2>2024 JanFeb</h2>
                <h5>January 2, 2024</h5>
                <p class="my-5"><strong>Love is the meaning of life....</strong></p>
            </div>
            <div class="col-2">
                <button class="btn btn-block btn-danger">Read Now</button>
                <button class="btn btn-block btn-dark">Save As</button>
            </div>
        </div>
        <div class="horizontal-scrollable">
            <div class="row">
                <div class="col-xs-4 row text-center text-info">
                    <img src="{% static 'images/home_v101_8.png' %}" alt="Image" class="images btn-block">
                    <span class="col btn-block">January 1, 2024</span>
                    <span>b</span>
                </div>
                <div class="col-xs-4 row text-center text-info">
                    <img src="{% static 'images/home_v101_8.png' %}" alt="Image" class="images btn-block">
                    <span class="col btn-block">January 1, 2024</span>
                    <span>b</span>
                </div>
                <div class="col-xs-4 row text-center text-info">
                    <img src="{% static 'images/home_v101_8.png' %}" alt="Image" class="images btn-block">
                    <span class="col btn-block">January 1, 2024</span>
                    <span>b</span>
                </div>
                <div class="col-xs-4 row text-center text-info">
                    <img src="{% static 'images/home_v101_8.png' %}" alt="Image" class="images btn-block">
                    <span class="col btn-block">January 1, 2024</span>
                    <span>b</span>
                </div>
                <div class="col-xs-4 row text-center text-info">
                    <img src="{% static 'images/home_v101_8.png' %}" alt="Image" class="images btn-block">
                    <span class="col btn-block">January 1, 2024</span>
                    <span>b</span>
                </div>
                <div class="col-xs-4 row text-center text-info">
                    <img src="{% static 'images/home_v101_8.png' %}" alt="Image" class="images btn-block">
                    <span class="col btn-block">January 1, 2024</span>
                    <span>b</span>
                </div>
                <div class="col-xs-4 row text-center text-info">
                    <img src="{% static 'images/home_v101_8.png' %}" alt="Image" class="images btn-block">
                    <span class="col btn-block">January 1, 2024</span>
                    <span>b</span>
                </div>
                <div class="col-xs-4 row text-center text-info">
                    <img src="{% static 'images/home_v101_8.png' %}" alt="Image" class="images btn-block">
                    <span class="col btn-block">January 1, 2024</span>
                    <span>b</span>
                </div>

            </div>

        </div>
    </div>
{% endblock %}
